<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    {{> menu}}
    <div class="container grid-xl">
        <h1 class="text-center">Home</h1>
        <p class="title">Welcome back, {{ given_name }}</p>
        <h2>Categories</h2>
        <div class="columns">
            {{#each categories as |category|}}
                <div class="col-md-12 col-4">
                    <div class="card">
                        <div class="card-image">
                            <a href="category/{{ category.name }}">
                                <img src="{{ category.img }}" alt="Picture related to category {{ category.name }}"
                                    class="img-responsive">
                            </a>
                        </div>
                        <div class="card-header">
                            <div class="card-title-h5">
                                <a class="link-jet" href="category/{{ category.name }}">{{ category.name }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <h2>Check out what other people are reviewing</h2>
        <div class="columns">
            {{#each mostRecentlyReviewed as |service|}}
                <div class="col-md-12 col-4">
                    <div class="card">
                        <div class="card-image">
                            <a href="review/{{ service.name }}">
                                <img src="{{ service.img }}" alt="Picture of {{ service.name }}" class="img-responsive">
                            </a>
                        </div>
                        <div class="card-header">
                            <div class="card-title-h5 columns">
                                <div class="column col-6">
                                    <a class="link-jet" href="/review/{{ service.name }}">{{ service.name }}</a>
                                </div>
                                <div class="column col-6 text-right stars">{{ numToStars service.avg }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</body>

</html>