<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{> menu}}
    <div class="container grid-xl">
        <h1>Home</h1>
        <div class="columns">
            {{#each categories as |category|}}
                <div class="col-md-12 col-4">
                    <div class="card">
                        <div class="card-image">
                            <a href="category/{{ category.name }}">
                                <img src="{{ category.img }}" alt="Picture related to category {{ category.name }}"
                                    class="img-responsive">
                            </a>
                        </div>
                        <div class="card-header">
                            <div class="card-title-h5"><a href="category/{{ category.name }}">{{ category.name }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</body>

</html>