<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <link rel="stylesheet" href="css/profile.css">
</head>

<body>
    {{> menu}}
    <div class="container grid-xl">
        <h1 class="text-left">Profile</h1>
        <div class="columns">
            <div class="column col-md-12 col-3 text-center">
                <img src="{{ img }}" class="img-responsive img-fit-cover" alt="Profile picture of student: {{ name }}">
                <h2>{{ name }}</h2>
                <div class="columns">
                    <div class="column col-3">
                        <p>E-mail:</p>
                        <p>Campus:</p>
                    </div>
                    <div class="column col-9">
                        <p>{{email}}</p>
                        <p>{{campus}}</p>
                    </div>
                </div>
            </div>
            <div class="column col-md-12 col-9 text-left">
                <h3 class="tile-title text-center">History</h3>
                {{#each history as |Preview|}}
                <div class="tile ">
                    <div class="tile-content">
                        <p class="tile-title"><span class="review-name">{{Preview.name}}</span>
                            {{ numToStars Preview.rating }}
                        </p>
                        <p class="tile-subtitle">{{ Preview.comment}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
</body>

</html>