<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    {{> menu}}
    <div class="container grid-xl ">
        <div class="columns">
            <div class="column col-md-12 col-3 text-center">
                <div class="sticky">
                    <h1 class="text-left separacion">Profile</h1>
                    <img src="{{ img }}" class="img-responsive img-fit-cover"
                        alt="Profile picture of student: {{ name }}">
                    <h2>{{ name }}</h2>
                    <div class="columns">
                        <div class="column col-5">
                            <p><b>E-mail:</b></p>
                            <p><b>Campus:</b></p>
                            <p><b>Total reviews:</b></p>
                            <p><b>Average rating:</b></p>
                        </div>
                        <div class="column col-7">
                            <p>{{email}}</p>
                            <p>{{campus}}</p>
                            <p>{{totalreviews}}</p>
                            <p class="stars">{{numToStars average}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column col-md-12 col-9 text-left">
                <h3 class="tile-title text-center">History</h3>
                {{#each history as |review|}}
                    <div class="tile">
                        <div class="tile-content">
                            <h5 class="tile-title">
                                <span class="review-name">
                                    <a href="/review/{{ review.name }}" class="link-jet">{{review.name}}</a>
                                </span>
                                <span class="stars">{{ numToStars review.rating }}</span><br>
                                <small>{{ parseDate review.reviewdate }}</small>
                            </h5>
                            <p class="tile-subtitle">{{ review.comment}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

    </div>
</body>

</html>