<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <link rel="stylesheet" href="css/profile.css">
</head>

<body>
    {{> menu}}
    <div class="container grid-xl">
        <h1 class="text-left">Profile</h1>
        <div class="columns">
            <div class="column col-md-5 col-2">
                <img src="{{ img }}" class="img-responsive" alt="Profile picture of student: {{ name }}">
            </div>
            <div class="column col-md-7 col-10 text-left">
                <h2>{{ name }}</h2>
                <div class="columns">
                    <div class="column col-3">
                        <p>E-mail:</p>
                        <p>Campus:</p>
                    </div>
                    <div class="column col-9">
                        <p>{{email}}</p>
                        <p>{{campus}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column col-11 col-mr-auto text-center">
            <div class="tile">
                <div class="tile-icon">
                    <div class="example-tile-icon">
                        <i class="icon icon-file centered"></i>
                    </div>
                </div>
                <div class="tile-content">
                    <h3 class="tile-title text-center">History</h3>
                    {{#each history as |Preview|}}
                    <div class="column col-md-7 col-10 text-center">
                        <div class="columns">
                            <div class="column col-6">
                                <p>{{Preview.reviewname}}</p>
                            </div>
                            <div class="column col-6">
                                <p>{{Preview.rating}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>


            </div>
        </div>

    </div>
</body>

</html>